VITE_TMDB_API_KEY= # The API key for The Movie Database (TMDB) API. You can obtain this key by creating an account on TMDB and generating an API key in your account settings.
VITE_TMDB_API_TOKEN= # The API token for The Movie Database (TMDB)

VITE_APPWRITE_PROJECT_ID= # The project ID for your Appwrite project. You can find this ID in the Appwrite console under your project's settings.
VITE_APPWRITE_MOVIE_DATABASE_ID= # The database ID for your Appwrite movie database
VITE_APPWRITE_MOVIE_DATABASE_SCHEMA_ID= # The schema ID for your Appwrite movie database schema
VITE_APPWRITE_BASE_URL= # The base URL for your Appwrite instance.
VITE_APPWRITE_STORAGE_BUCKET_ID= # The storage bucket ID for your Appwrite storage bucket
VITE_APPWRITE_USER_PROFILE_PICTURE_RESOURCE_ID= # The resource ID for the user's profile picture in
